<app-header [links]="[
  {
   title: 'Пироженки',
   target: selectProduct
  },{
   title: 'О нас',
   target: advantages
  },{
   title: 'Оформить заказ',
   target: order
  },
]"></app-header>
<main #main>
  <section class="section-hero mc-bg-primary">
    <div class="container-xl bd-gutter px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
          <img [src]="listImages[0].src" class="d-block ms-lg-auto img-fluid" alt="Macaroons" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-4 fw-bold lh-1 mb-sm-5">{{ title }}</h1>
          <p class="lead mb-sm-5">{{ titleDescription }}</p>
          <div class="d-flex">
            <button class="btn_1"
                    (click)="smoothScroll(selectProduct)"
            >{{ buttonSelectLabel }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Advantages-->
  <section id="aboutus" class="section-advantages" #advantages>
    <div class="container-xl bd-gutter">
      <!--Main content-->
      <div class="advantages-hero row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img [src]="listImages[1].src" class="d-block ms-lg-auto img-fluid" alt="Macaroon">
        </div>
        <div class="col-lg-6">
          <h2 class="display-5 fw-bold lh-1 mb-sm-5">{{ aboutusTitle }}</h2>
          <div class="col-lg-9">
            <p class="advantages-lead lead mb-sm-5">{{ aboutusDescription }}</p>
          </div>
        </div>
      </div>
      <!--List-->
      <div class="row">
        @if (listItems) {
          @for (item of listItems; track $index) {
            <div class="col-md-3 list-group about-group">
              <div class="list-number-circle">
                <span class="list-number">{{ $index + 1 }}</span>
              </div>
              <p class="lead fw-bold pt-3">{{ item.title }}</p>
              <p class="lead list-text">{{ item.description }}</p>
            </div>
          }
        }
      </div>
    </div>
  </section>
  <!--Macaroons-->
  <section id="mcproducts" class="section-macaroons mc-bg-primary" #selectProduct>
    <h2 class="section-macaroons-title">{{ secProductsTitle }}</h2>
    <div class="container-xl bd-gutter">
      <div class="products-list">
        <!--Macaroons cards-->
        @for (data of macaroons; track data.id) {
          <app-product
            (productSelected)="onProductSelected($event, orderForm)"
            [product]="data"
            class=""/>
        } @empty {
          <h2>No products</h2>
        }
      </div>
    </div>
  </section>
  <!--Order section-->
  <section id="order" class="section-order" #order>
    <div class="container-xl bd-gutter">
      <div class="row align-items-end order-row">
        <div class="col-md-6">
          <img class="img-fluid" [src]="listImages[2].src" alt="order macaroon">
        </div>
        <div class="col-md-6 order-wrapper">
          <h2 class="section-order-title pb-4">{{ secOrderTitle }}</h2>
          <div class="col-md-8">
            <p class="lead order-lead">{{ secOrderSubtitle }}</p>
          </div>
          <!--Form Order-->
          <form class="pt-4" novalidate (ngSubmit)="onFormSubmit($event)" #orderForm>
            <div class="mb-4">
              <label for="inputChoice" class="form-label label">{{ secOrderLabelSelect }}</label>
              <input [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="userData.productName"
                     McInput
                     [class.is-warning]="isProductNameValid()"
                     (input)="onChoiceInput(inputChoice.value)"
                     type="text"
                     class="form-control"
                     id="inputChoice"
                     aria-describedby="choice"
                     placeholder="Напишите, что хотите заказать..."
                     required
                     #inputChoice>
              <span class="warning-feedback">{{ warningProduct }}</span>
            </div>
            <div class="mb-3">
              <label for="inputName" class="form-label label">{{ secOrderLabelInfo }}</label>
              <input [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="userData.userName"
                     McInput
                     [class.is-warning]="isUserNameValid()"
                     type="text"
                     (input)="onNameInput(inputName.value)"
                     class="form-control" id="inputName"
                     aria-describedby="Name"
                     placeholder="Ваше имя"
                     required
                     #inputName>
              <span class="warning-feedback">{{ warningUserName }}</span>
            </div>
            <div class="mb-3">
              <input [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="userData.userPhone"
                     [class.is-warning]="isUserPhoneValid()"
                     McInput
                     type="tel"
                     (input)="onPhoneInput(inputPhone.value)"
                     class="form-control"
                     aria-describedby="Phone"
                     placeholder="+ 375 (__) ___ - __ - __"
                     required
                     #inputPhone>
              <span class="warning-feedback">{{ warningUserPhone }}</span>
            </div>
            <button class="btn_1 order-btn" type="submit">{{ secButtonOrderLabel }}</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
<button (click)="smoothScroll(main)" class="btn btn-macaroon back-to-top" aria-label="Scroll to top">
  <img [src]="listImages[3].src" alt="arrow">
</button>
<app-modal style="display: none"></app-modal>
<router-outlet/>
